.collection .item-rating {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.ecommerce-card.card:hover .icon-wrap {
    display: flex !important;
    flex-direction: column;
}
.icon-wrap-check {
    position: absolute;
    left: 6px;
    top: 6px;
    z-index: 9;
}

#viewtableOrder thead.header-list-view-order th:nth-child(2),
#viewtableOrder thead.header-list-view-order th:nth-child(3),
#viewtableOrder thead.header-list-view-order th:nth-child(4),
#viewtableOrder thead.header-list-view-order th:nth-child(5),
#viewtableOrder thead.header-list-view-order th:nth-child(6),
#viewtableOrder thead.header-list-view-order th:nth-child(7)

{
    width: 14%;
    white-space: nowrap;
}
#viewtableOrder thead.header-list-view-order th:nth-child(8)
{
    width: 18%;
    white-space: nowrap;
}
#viewtableOrder .list-view .ecommerce-card {
    display: table-row;
  }
.ecommerce-application .list-view .ecommerce-card .card-body {
    padding: 1rem;
}
.order_heading {
    margin-top: -4rem;
}
/* ordertable */
#viewtableOrder .list-view {
    display: revert;
}
#viewtableOrder .list-view .ecommerce-card {
    display: table-row;
}
#viewtableOrder .list-view {
    display: table-footer-group!important;
}
#viewtableOrder .list-view {
    padding: 0!important;
    border: none;
    text-align: left;
    border: 2px solid #f3f2f7;
}
#viewtableOrder .list-view .ecommerce-card:hover{
background: #f3f2f7;
border: none !important;
  box-shadow: none !important;
}
#viewtableOrder .grid-view .ecommerce-card .item-img {
    min-height: 13rem!important;
    vertical-align: top;
    align-items: self-start;
    height: 13rem;
    overflow: hidden;
}
#viewtableOrder .list-view .ecommerce-card .item-img {
    min-height: 80px!important;
    vertical-align: top;
    align-items: self-end;
    height: 80px;
    overflow: hidden;
    justify-content: center;
}
#viewtableOrder .grid-view .ecommerce-card .top {
    width: 100%;
    height: 100%;
}
#viewtableOrder .list-view .ecommerce-card .top {
    width: 80px;
    height: 80px;
}
#viewtableOrder .grid-view .ecommerce-card td.showforrow, #viewtableOrder .grid-view .ecommerce-card th.showforrow {
    display: none;
}
#viewtableOrder .grid-view .ecommerce-card .icon-wrap-view {
    z-index: 9;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
}

#viewtableOrder .grid-view td.lastupdate{
    font-size: .8rem;
}

#viewtableOrder .grid-view td .view-cartbt,#viewtableOrder .grid-view td .view-boardbt {
    width: 100%;
    display: none;
} 
/* a.view-cartbt .btn {
    background-color: #0a66c2!important;
    border-color: #0a66c2!important;
} */
#viewtableOrder .grid-view td .editcol_board {
    position: absolute;
    right: 0;
    top: 13.5rem;
    right: 0.5rem;
}
.icon-wrap-view {
    position: absolute;
    right: 56px;
    top: 0;
    z-index: 9999;
}
.icon-wrap-view .iconthumb {
    background-color: #0000007a;
    color: #fff;
    padding: 0.5rem;
    display: none;
}
[dir] .ecommerce-application .grid-view .ecommerce-card:hover .icon-wrap-view.iconthumb {
    display: block;
}
.icon-wrap-view .iconthumb:hover {
    background: #000;
}
/* thead.header-grid-view {
    display: none;
} */
thead.header-grid-view {
    display: none;
}
.header-list-view-order th {
    position: sticky;
    top: 0; 
    background-color: white;
    z-index: 10; 
}

.boards_view .btn-group-toggle {
    position: absolute;
    top: -3.5rem;
    right: 1.5rem;
}
.btn-group-toggle .btn-icon {
    border: none!important;
}
.btn-group-toggle .btn-icon.active {
    background: #0a66c2!important
}
.btn-icon.active svg {
    stroke: white;
    border: white;
}
table#viewtableOrder .grid-view {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
thead.header-list-view-order th:nth-child(1){
    width: 10%;
}
thead.header-list-view-order th:nth-child(2),thead.header-list-view-order th:nth-child(3),thead.header-list-view-order th:nth-child(5){
    width: 12%;
}
thead.header-list-view-order th:nth-child(6){
    width: 18%;
}
 #viewtableOrder .list-view tr.ecommerce-card td:nth-child(1) {
    width: 80px;
}
.boards_view {
    position:relative;
    top: 0;
  /* height: calc(100vh - 8rem); */
 overflow: auto;
}
.viewcol_boardpanel.orderstable {
    position: absolute;
    left: 0;
}
.boards_view.orderpage{
    padding-top: 0;
}
#headerOrder {
    position: fixed;
    top: 4rem;
    z-index: 9;
    display: flex;
    justify-content: space-between;
    left: 1rem;
  }
.boards_view.orderpage {
    top: 8rem !important
}
.collection_page_view {
    margin-left: -1.2rem;
}
.viOrder .view-options{
    justify-content: space-between!important;
}
.orderthumb.card{
    margin: 1rem;
    padding: 0;
    border: 1px solid #535353 !important;    
}
tbody.grid-view td.board_col_remove {
    position: absolute;
    right: -7px;
    bottom: 20px;
}
tbody.list-view .board_col_remove {
    margin-left: 1rem;
    right: 6px;
    top: 28px;
    padding: 8px 12px;
    width: 40px;
    height: 38px;
    text-align: center;
    align-items: center;
}
tbody.list-view .collectionclick {
    display: none;
}
tbody.grid-view .board_col_remove {
    position: absolute;
    z-index: 999;
    display: block;
    right: 9px;
    bottom: 23px;
    width: 24px;
    height: 24px; 
    padding: 0px 4px;
}
    .board_col_remove:hover {
        background: #82868b;
        color:#fff
    }
 
#exampleTexta .descri{
padding: 0!important;
}
.orderthumb .card-body{
    padding: .5rem 1rem!important;
}
.messege-wait {
    padding: 0;
    font-size: .775rem;
    font-weight: 400;
    position: fixed;
    bottom: -6px;
    right: 0;
    color: #fff;
    background: #383434;
}

    .messege-wait.success {
        background: #0a7c2d;
        padding: .2rem .5rem;
    }
    #headerOrder .input-group-merge{
        width: 15%;
    }
    table#viewtableOrder {
        border-collapse: none;
    }
    /* new */
    .LeftColumnOrder {
        position: fixed;
        right: 0;
        background: #f7f7f7;
        top: 0;
        height: 100vh;
        border-left: 1px solid #5c5c5c;
    }
    .optionsA{
        flex-direction: column;
        gap: 1rem;
    }

.optionsA .colA{
    flex-direction: column;
}
.orderDetails {
    display: flex;
    justify-content: space-between;
    width: 100%; 
 
   
}
.orderHeading {
    text-align: center;
    height: 3.5rem;
    border-bottom: 1px solid #666;
    position: fixed; 
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 9;
    background-color: #5c5c5c;
    padding: 0 1rem;
    left: 0;
    top: 0;
    right: 0;
}

.orderHeading h6, .orderHeading input{
    color:#fff;
}
.orderHeading h2 {
    position: absolute;
    color: #fff;
}
.checkout-options {
    margin-top: 0.5rem;
}
.orderHeading .orderDetails h2 {
    position: absolute;
    color:#fff;
}
[dir] .checkout-options .ecommerce-card.collection.card {
    border: 1px solid #ffffff00;
    margin-bottom: 0!important;
    cursor: pointer;
}
[dir] .checkout-options .ecommerce-card.collection.card:hover {
    border: 1px solid #ffffff00!important;
    background: #f7f7f7;
    cursor: pointer;
}

.orderCode, .orderNumber {
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    display: flex
}
div#vieworderA .modal-header, #createWindow .modal-header{
    width: auto;
    display: block;
    max-width: 5rem;
    padding: 0;
    display: block;
}