
img.Header-logo-viewer {
    width: 150px;
}
.login-logo-viewer {
    width: 12rem;
}

.left_banner {
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center 63%;
    text-align: center;
    background-color: #f9f9f9;
}

img.left_banner_img {
    width: 60%;
    margin-top: 1rem;
}

.ecommerce-application .grid-view .ecommerce-card .item-img {
    min-height: 5.85rem;
}

.login-logo-viewer {
    width: 11rem;
}

.fingertouch {
    display: none !important;
}

@media only screen and (max-width: 600px) {
    .fingertouch {
        display: block !important;
    }
}

