.content-body.collectionbody{
    margin-left: 0!important;
}
div#collectionbody {
    margin-left: 0 !important;
}
.ecommerce-application .grid-view .ecommerce-card .collection_img {
    max-height: 8rem;
    display: flex;
    align-items: center;
    max-height: 8rem;
    /* height: 10.85rem; */
}
.collection_body.card-body {
    z-index: 9;
    background: #fff;
}
.coll_edit{
    position: absolute;
    right: 12px;
    /* bottom: 12px; */
}
div#collectionbody .grid-view .item-img {
    min-height: 13rem !important;
    vertical-align: top;
    align-items: self-start;
}
.icon-wrap-check {
    position: absolute;
    top: 6px;
    left: 6px;
    z-index: 9;
    display: block;
}