
.ecommerce-card.wishlist.card {
    margin-bottom: 2rem!important;    
}

.icon-wrap {
    position: absolute;
    right: 6px;
    top: 6px;
    z-index: 9;
    display: none;
}

.ecommerce-card.card:hover .icon-wrap {
    display: flex!important;
    flex-direction: column!important;
}
.item-rating {
    position: absolute;
    right: 10px;
    bottom: 14px;
}
.w_menu {
    display: block;
    padding: 4px 7px;
    cursor: pointer;
}
.icon-wrap-check {
    position: absolute;
    top: 6px;
    z-index: 9;
    left: 6px;
    display: block;
}
.ecommerce-card.card:hover .icon-wrap-check{
    display:flex;
}
.msgbox {
    position: absolute;
    right: 0;
    top: 0;
}
.msgbox .badge.badge-up {
    right: 0;
    top: -5px;;
}

div#commentwindow .modal-content {
    width: 100%;
    height: 100%;
}
.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}
.modal.right.fade.in .modal-dialog {
    right: 0;
}


@media only screen and (min-width : 1224px) {
    .grid-view.wishgrid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr !important;
        }
    }


    @media only screen and (min-width:321px) and (max-width:768px) {
        .icon-wrap {
            display: flex;
            flex-direction: column;
        }

        .w_menu {
            display: block;
            padding: 4px 7px;
        }
        .icon-wrap-check {
            display: block;
        }
    }

    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
        .icon-wrap {
            display: flex !important;
            flex-direction: column;
        }
        .icon-wrap-check {
            display: block;
        }
    }