.pinkbg {   
    position: relative;
    background:none!important;
 
}
.pinkbg .grid-view {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;  
    padding: 52px;
    height: calc(100vh - 275px); 
    overflow:hidden;
}
.mybg {  
    width: 100%;
    height: 100vh;
}

.title_box{
    transform: translate(-50%,-50%);
    left: 50%;
    width: 100%;
    position: fixed;  
    margin: 0;
    top: 6.5rem;
    padding: 0.5rem;
    z-index: 1;
    border-bottom: 0 solid #dae1e7;
}
h3.title_b {   
    display: block;
    padding: 12px 12px;
    font-size: 2rem;  
    text-align: center !important;   
    left: 50%;
    width: 310px;
    top: 14px;
    color:#E63374;
}
h3.title_a {   
    font-size: 2.5rem;
}

.grandparent{ 
    width: 100%;
    display: table;
}
.grandparent .parent {   
    vertical-align: top;   
    display: flex;
    flex-direction: column;
    align-items: center;
}

.child {
    margin: .5rem;    
    width: 200px;
    display: inline-block; /*Add this*/
    vertical-align: middle;
}
    .child .card:hover {
        border: 1px solid #4c4b4b;
    }
img.Header-logo-viewer {
    width: 11rem;
}
img.card-img-top {
    border-radius: 0 !important;
}
@media only screen and (min-width: 900px){
    .pinkbg .grid-view {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 10px;
    }
    }
@media only screen and (max-width: 600px){
    .Header-logo-viewer {
        width: 150px;
        height: auto;
    }
    .pinkbg .grid-view {
        grid-template-columns: 1fr!important;
        padding: 10px;
    }
    h3.title_b {
        color: #E63374;
        background: #fff;
        display: block;
        padding: 6px 6px;
        width: auto;
        font-size: 1.5rem;
        margin: 0 10px;
        width: 250px;        
    }
    h3.title_a {
        color: #101010;
        font-size: 1.5rem;
        margin-bottom: 0;
    }
    .pinkbg {    
        margin: 0px;
        padding: 0px 20px;
        background-color: #e4239a;
        height: 100vh;
    }
    .child {
        height: auto;
        width: 8.5rem;        
    }
    .inner_div {
        overflow-y: scroll;
        height: calc(100vh - 150px)!important;
      }
    .child .card{
        margin-bottom: 0;
    }
    .inner_div {
        margin-top: 2rem;
        padding-top: 0rem;
        overflow: scroll;
        height: calc(100vh - 9rem);
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
 
    .pinkbg .grid-view {
       grid-template-columns: 1fr 1fr;
      
    }
    .pinkbg {    
        margin: 0px;  
        background-color: #e4239a;
        height: 100vh;
    }
    .child {
        height: 300px;
        width: 250px;
    }
    .inner_div {
        overflow-y: scroll; 
    }
  }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px)  and (orientation:portrait){
 
    .grandparent {    
        width: 100%;
        display: table;
        position: fixed;    
    }
    .align-middle {      
        display: none;
    }
  }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px)  and (orientation:landscape){
    .align-middle {      
        display: inline-flex;
    }
  }


  @media only screen and (min-device-width: 820px) and (max-device-width: 1180px) and (orientation:landscape){
  
    .child {
        height: 150px;
        width: 150px;
        margin: 10px 13px;
    }
    .align-middle {      
        display: inline-flex;
    }
  }