.p-multiselect-panel .p-inputtext {
    background: #ffffff;
    padding: 0.2rem 0.2rem;
    border: 1px solid #ced4da;
    border-radius: 0;
}
[dir] .p-multiselect-panel {
    width: 140px;
}
    [dir=ltr] .p-multiselect-panel .p-multiselect-header .p-multiselect-filter-container .p-inputtext {
    padding-right: 0.5rem;
    height: 24px;
}
.p-multiselect-panel {
    border-radius: 0 !important;
    width: 220px;
    border: 1px solid #d8d6de !important;
    box-shadow: none !important;
}
    .p-multiselect-panel .p-multiselect-items .p-multiselect-item {
        padding: 0.2rem 0.5rem !important;
        border-radius: 0 !important;
        font-size: .875rem;
        border-radius: 0 !important;
    }
.p-checkbox .p-checkbox-box {
    width: 12px!important;
    height: 12px !important;
    border: 1px solid #ced4da;
    border-radius: 0 !important;
    margin-top: 5px;
}
[dir] .p-multiselect .p-multiselect-label {
    /* padding: 0.438rem 0.5rem !important; */
   
}
.p-multiselect-panel .p-multiselect-header .p-multiselect-close {
    width: 1rem;
    height: 1rem;
    display: none;
    /* close hided */
}
div#product-categories {
    /* height: calc(100vh - 420px);mm for filter*/
}
.p-multiselect-panel .p-multiselect-header {
    border-radius: 0 !important;
    padding: 0.4rem !important;
}
div#product-categories .price-slider {
    padding-top: 1rem;
    padding-right: 0.0  rem;
    padding-left: 0rem;
}
.price-slider.input_custom {
    padding-top: 0.5rem;
}
[dir] .p-dropdown {
    float: right;
    margin-bottom: 10px;
    border-radius: 0!important;
    width: 140px !important;
    min-width: 140px;
    border-radius: 6px;
}

[dir=ltr] .p-dropdown.p-dropdown-clearable .p-dropdown-label {
    padding-right: 1.75rem;
    padding: 0.438rem 0.5rem;
    color: #010101 !important;
    font-weight: 400;
    font-family: "Montserrat", Helvetica, Arial, serif;
    font-size: .875rem !important;
}
[dir] .p-inputtext {
    padding: 0.438rem 0.5rem!important;
    color: #101010!important;
    font-size: 0.875rem;
    font-family: "Montserrat", Helvetica, Arial, serif;
    margin: 0;    
}
[dir] .p-multiselect-filter-icon {
    margin-top: -0.5rem;
    display: none;
        /* search hided */
}