:root {
    --color-prime: #007aff;
    --color-prime-hover: #08539e;
    --color-dark-black: #080808;
    /* --bg-body: #f4f4f4; */
    --bg-body: #f4f4f4;
}
.blank-page .content.app-content{
    padding: calc(2rem + 4.45rem + 1.3rem) 2rem 0!important;
}
.pricewrapper{
    padding: calc(1rem + 1rem + 1rem) 8rem 0!important;
    background: rgb(201,197,246);
    background: linear-gradient(180deg, rgb(201, 197, 246) 0%, rgb(201, 197, 246) 45%, rgb(248, 248, 248) 45%) ;
    height: 100vh;  
    overflow-y: scroll; 
}
.Header-logo-viewer{
    width: 160px;
}
.meetup-img-wrapper {
    padding: 44px;
    height: 222px;
}
.card-developer-meetup {
    min-height: 300px;
    height: 405px;
}
.bs-stepper {
    border-radius:0;
}
.planinnerimg img {
    padding: 2rem;   
    width: 80%;
    object-fit:contain;
}
img.card-img {
    width: 80%;
    object-fit: scale-down;
}
.bs-stepper .bs-stepper-content {   
    min-height: 15rem;
}
.thank-subtext{
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #5E5873;
}
.thank-text{

font-style: normal;
font-weight: normal;
font-size: 49px;
line-height: 60px;
text-align: center;
color: #5E5873;
}
.thank-title{

font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
color: #5E5873;
}
img.required-img.card-img {
    height: 100%;
    width: auto;
}
#rollStandard .custom-radio .custom-control-label::before {
    opacity:0
}
#rollStandard custom-radio.custom-control {
    padding-left: 1.8rem;
    background: #9f98f1;
    padding: .5rem .5rem;
    color: #fff;
}
#rollStandard .custom-checkbox .custom-control-label, #rollStandard .custom-radio .custom-control-label {
    font-size: 1rem;
    position: static;
    color: #fff;
}
[dir] .bordered-layout #rollStandard .custom-control-input:not(:checked) ~ .custom-control-label::before {
    background-color: #fff;
    border-color: #0a66c2;
    border: 2px solid #0a66c2;
    opacity:0
}
#customplanInput > .custom-radio .custom-control-label::before {
    opacity: 0
}
div#customplanInput .custom-control-label {
/*    padding: .5rem 1rem;
    background-color: var(--color-prime);*/
    color: #fff;
    cursor: pointer;
}
.facilities {
    line-height: 1.9rem;
    font-size: .875rem;
    text-align: left;
    padding-left: 1rem;
}
#rollStandard .custom-radio.custom-control {
    background: var(--color-prime);
    padding: 1rem .5rem;
}
[dir] #rollBasic .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before, [dir] #rollBasic .custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    opacity: 0;
}
@media only screen and (max-width: 600px) {
    .pricewrapper{
        padding: calc(1.2rem + 1.2rem + 1.3rem) 0 0 !important;
    }
    .planinnerimg {
        display: none!important;
    }
    custom-radio.custom-control {
    padding-left: 1.8rem;
    background: #9f98f1;
    padding: .5rem .5rem;
    color: #fff;
}
}
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
    .pricewrapper{
        padding: calc(1rem + 1rem + 1.3rem) 2rem 0!important;        
    }
    img.required-img.card-img{
        width: 100%;
        height: auto;
    }
    .meetup-img-wrapper{
        padding:20px;
    }
}
@media screen and (min-width: 1600px) {
    .pricewrapper{
    
        padding: calc(1rem + 1.5rem + 2rem) 11rem 0!important;
        background: rgb(201,197,246);
        background: linear-gradient(180deg, rgb(201, 197, 246) 0%, rgb(201, 197, 246) 45%, rgb(248, 248, 248) 45%) 
    }
}