[dir] .swiper-gallery .swiper-container:first-child {
    top: 1.5rem;
    padding: 0 !important;
}
.swiper-gallery {
    height: calc(100vh - 16.5rem) !important;
    position: relative;
    top: -2rem;
}

.swiper-gallery > .swiper-wrapper:fullscreen {
    zoom: 1.6 !important;
}

.swiper-container:fullscreen {
    /*background-image: linear-gradient(to bottom, black, white);*/
}