.overlay {
    padding-top: 45%;
    top: 0;
    left: 0;
    text-align: center;
    background: linear-gradient(90deg, rgba(2,0,36,.5) 0%, rgba(0,0,0,.5) 2%, rgba(255,255,255,.5) 3%, rgba(247,254,255,.5) 5%, rgba(0,0,0,.5) 7%, rgba(255,255,255,.5) 13%, rgba(255,255,255,.2) 100%);
}

.collezioni_pages .sidebar .scrollbar-container {
    height: calc(100vh - 1rem);
}

.collezioni_pages .shop-sidebar-toggler {
    display: none;
}

.child .card-img-top {
    border-radius: 0 !important;
}

.stickicons {
    justify-content: center !important;
}

.ButtonGroup.groupfixed {
    transform: translate(-50%,-50%);
    left: 50%;
    width: 100%;
    z-index: 9;
    position: fixed;
    padding: 0.6rem;
    margin-top: .5rem;
    top: 5.4rem;
    min-height: 4rem;
    align-items: center;
}

.email-app-sidebar .list-group-item img {
    width: 100%;
    height: auto;
}

.email-app-menu .sidebar-menu-list {
    height: 100% !important;
}

.email-application .content-area-wrapper .sidebar .email-app-sidebar {
    width: 180px !important;
}

.email-application .content-area-wrapper .content-right {
    width: calc(100% - 180px) !important;
    padding: 0;
}

.email-application .list-group-item {
    padding-left: 0 !important;
}

.email-application .ecommerce-application .grid-view {
    padding: 0 2rem;
}

.ecommerce-application.myseasons .grid-view {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 2.5rem !important;
}

.swiper-slide.ecommerce-application .grid-view {
    display: grid;
    grid-template-columns: 1fr!important;
}

    #on_book_filter .ecommerce-application.myseasons .grid-view {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 2.5rem !important;
    padding: 1.5rem;
}

#off_book_filter .ecommerce-application.myseasons .grid-view {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 2.5rem !important;
    padding: 1.5rem;
}

#off_book_filter .grid-view {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 1.2rem !important;
}

    #off_book_filter .grid-view#large_grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    #off_book_filter .grid-view#medium_grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

[dir] .email-application .content-area-wrapper {
    height: calc( var(--vh, 1vh) * 100 - calc( calc(1.5rem * 1) + 1.45rem + 1rem + 0rem + 0.6rem )) !important;
    /*background: #f6f6f6;*/
}

.app-content.content.overflow-hidden.email-application {
    padding: calc(1.2rem + 2rem + 1.3rem) 0rem 0 0rem !important;
}

.customizer_menu {
    z-index: 101;
    position: fixed;
    width: auto;
    right: 0;
    bottom: -14px;
    bottom: 3px;
    background: #efefef;
    top: 43%;/*26-09*/
    border-top: 1px solid #ccc;
    width: 4.45rem;
    /* padding-top: 2rem; */
    transform: none!important;
    /* overflow: auto;  */
}

.customizer_menu::-webkit-scrollbar {
  width: 0px;
}

.outer_container {   
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.book_thumb span {
    /* font-size: 0.875rem;
    display: none;
    position: absolute;
    right: 47px;
    top: -1px;manisha */
    font-size: 0.64rem;
    display: block;
    padding: 4px 10px;
    margin-top: .5rem;
}
/* .book_thumb .btn:hover span {
    display: flex;
    background: #0a66c2;
    width: 72px;
    height: 50px;
    padding: 1.3rem 0.6rem;
    text-align: center;
} manisha*/
.book_thumb .btn {
    display: flex;
    width: auto;
    position: relative;
    padding: .5rem;
}
/* .book_thumb .btn:hover {
    background: #0a66c2!important;
    opacity: 1;   
    position: relative;
    color: #fff;
}manisha */
.customizer_menu.topmenu {
    top: 25%;
    height: calc(38px * 3);
}

.customizer_menu .customizer-toggle {
    display: block;
    width: 4.5rem;
    color: #fff !important;
    display: block;
    text-align: center;
    cursor: pointer;
    height: auto;
}

.customizer_menu button {
    width: 100%;
    height: 4rem;
    border: none;
    padding: 1rem !important;
    color: #4b4b4b;
}

.bg-custom {
    border-bottom: 1px solid #e7e7e7 !important;
    box-shadow: 0 0px 0px 0 rgb(1 1 1 / 50%);
}

#coll_main_page .swiper-gallery {
    /* height: calc(100vh - 9.5rem) !important; */
    position: relative;
    top:0;
    margin-right: 0rem !important;  
    height: auto!important;
}
.swiper-container-thumbs {
    position: relative;
    bottom: 10px;
  }
/* .horizontal-layout.navbar-sticky.footer-hidden .app-content #coll_main_page .content-area-wrapper, .horizontal-layout.navbar-sticky.footer-hidden .app-content .kanban-wrapper{
    height: calc(100vh - 8.7rem)!important;
    background: red!important;
} */
#coll_main_page .content.app-content .content-area-wrapper{
    height: calc(100vh - 8.7rem)!important;
    background: red!important;
}
[dir] .swiper-container.swiper-gallery {
    padding: 0;
    height: calc(100% - 120px);
}

.swiper-gallery .swiper-slide.swiper-slide-active {
    width: 100%;
}
/* .swiper-slide-active {
    transform: scale(1.5);
} */

.gallery-thumbs .swiper-slide-thumb-active {
    width: auto !important;
}

[dir] .gallery-thumbs {
    padding-top: 1rem !important;
    height: auto;
    padding: 10px;
    background: none;
    /* border-top: 1px solid #666; */
   /* box-shadow: rgb(0 0 0 / 1%) 1px -1px 2px;*/
    width: 100%;
    background: none !important;
}

[dir=ltr] .swiper-gallery .swiper-slide {
    text-align: center !important;
    padding: 1rem;
    cursor: pointer;
    opacity: 1 !important;
}

/* .gallery-thumbs .swiper-slide {
    text-align: center !important;
    padding: 0rem;
    width: 45px !important;
    border: 1px solid #fff0;
} */
/* temp */
.gallery-thumbs .swiper-slide {
    text-align: center !important;
    padding: 0rem!important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    border: 1px solid #fff0; 
    background: #c8c8c8 !important;
    padding: .2rem !important;
     margin: .5rem;
}
.gallery-thumbs .swiper-slide img{
    display: none!important;
}
    .gallery-thumbs .swiper-slide:hover {
        border: 1px solid #ada4a4;
    }

.ecommerce-application.myseasons .ecommerce-card.card {
    margin-bottom: 2.5rem;
    /*padding: 0.5rem*/
    border: 1px solid #ebe9f100;
    /*box-shadow: rgb(14 12 12 / 43%) 0px 0px 2px 1px;*/
    background: #efefef;
    border-color: #ada4a4;
}
/*   box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;*/
/*box-shadow: white 0px 0px 0px 2px inset, rgb(255 255 255) 9px -10px 0px -2px, rgb(231 231 231) 9px -10px 0 -1px, rgb(255 255 255) 16px -19px 0px -1px, rgb(231 231 231) 16px -19px 0 0px;*/


.email-app-menu .list-group-labels .card-img-top {
    height: 200px;
}

.bookcard.card {
    min-height: 14rem;
    /* min-height: 180px; */
    /* border: 5px solid #ffffff !important; */
    border-top-right-radius: 0 !important;
     border-bottom-right-radius: 0;
    background-color: #282828;
    box-shadow: 3px 3px 0px 0px rgb(26, 26, 26) !important;
    border: 1px solid #656565!important;
}

.swiper-gallery .swiper-container:first-child {
    padding: 1.5rem;
}

.myseasons .swiper-slide img {
    height: 100%;
    width: auto;
    border: 1px solid #ada4a4;
    box-shadow: rgb(0 0 0 / 12%) 1px 1px 1px;
}

.myseasons .swiper-container.swiper-gallery .swiper-wrapper .swiper-slide img {
    box-shadow: rgb(0 0 0 / 42%) 2px 2px 1px;
    height: 100%;
    width: auto;
    border: 1px solid #ada4a4;
}

.myseasons .swiper-container.gallery-thumbs .swiper-wrapper {
    justify-content: center;
}

.gallery-thumbs .swiper-slide {
    opacity: 1;
}
#_previousBtn{
    left: 26px !important;
}
[dir] .gallery-thumbs .swiper-slide-thumb-active {
    border: 1px solid #fff !important;
    background: #d12727 !important;
  }
/* .list-group-labels .book_active.active:first-child {
    background-color: #0a66c2;
    display: block;
} */

.swiper-container-autoheight .swiper-wrapper {
    align-items: baseline;
}


.book_active.active {
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    background-color: #0a66c2;
    border-radius: 50%;
    top: 5px;
    right: 4px;
    display: block;
}
[dir] .myseasons .grid-view .ecommerce-card .item-img {
    padding-top: 0rem;
    border-radius: 0;
    min-height: 9.85rem !important;
}

[dir] .navbar-container .search-input.open {
    background: #ffffff;
    border-radius: 0;
    border-bottom: 1px solid #010101;
    padding: 0;
    top: 2px;
    position: relative;
    left: 22px !important;
    border: 1px solid #d8d6de;
}

[dir] .navbar-container .search-input input {
    border: none;
    background: none;
    padding: 1.2rem 3.6rem;
}

.bookcard.card:hover {
    /* border: 5px solid #ffffff !important;
    box-shadow: none;
    outline: 1px #000 solid; */
   /* margin: 2px; /*26-09*/
}


.match-height button svg:hover {
    stroke: #0a66c2;
}

.pagination.custom {
    position: absolute;
    bottom: 0;
    background: #fff;
    width: calc(100% - 180px);
}

.book_thumb {
    position: fixed;
    z-index: 10;
    flex-direction: column;
    right: 0;
    width: 4.6rem;
    /* background: #efefef; */
    width: 4.6rem;
    top: 8.6rem;
    height: calc(100vh - 8.8rem);
    height: 100%;
    /* border-left: 1px solid #ccc; */
}

    .book_thumb .btn {
        /* background: #000 !important;
        color: #fff; manisha */
        color: #4b4b4b;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

[dir] .customizer_menu button:hover {
    /* background: none!important; */
    color: #0a66c2;
}

[dir] .customizer_menu button:active {
    background: none !important;
    color: #4b4b4b;
}
/* .book_thumb button.pageactive {
    background: #0a66c2!important;
    color: #fff;
} manisha*/
[dir] .book_thumb button.pageactive svg {
    /* background: #0a66c2!important; */
    color: #0a66c2 !important;
}

.pageactive span {
    background: #0a66c2;
    color: #fff;
    border-radius: 50px;
}

.collezioni_pages .design_scroll {
    margin-top: 3.3rem;
}

/* .horizontal-layout .app-content {
    padding: calc(1.2rem + 9.2rem + 0.3rem) 1.2rem 0 1.2rem !important;
} */

.book_thumb .btn-group button {
    /*   border-bottom-left-radius: 4px;*/
    border-radius: 4px
}

.book_thumb .btn-group button {
    /* border-bottom-right-radius: 4px;*/
    border-radius: 4px
}

[dir=ltr] .navbar-container a.nav-link-search {
    float: right;
    /*  position: absolute;*/
    left: 0;
    margin-top: 5px;
}

.match-height {
    border-bottom: 1px solid #ebe9f1 !important;
}
/*seasonspage css ends*/

.color-ways {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: .1rem;
    padding: 1px;
    bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 0;
}

.designSwatch {
    margin-bottom: .1rem;
    height: 1.5rem;
    width: 1.5rem;
    overflow: hidden;
}

.colorbox {
    position: absolute;
    bottom: 41px;  
    z-index: 9;
    display: none;
}

.item-rating {
    position: absolute;
    right: 10px;
    bottom: 4px;
}


[dir] .iconthumb:hover {
    background-color: #1e1e1e;
    border-color: #1e1e1e;
    color: #fff;
}
.icon-wrap:hover .iconthumb {
    background: #ffffff;
    color:#000!important;    
}
.ecommerce-card.card:hover .colorbox {
    display: block;
}

/*thumb csss ends*/
.pinkbg {
    position: relative;
    background: none !important;
}

    .pinkbg .grid-view {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1.2rem;
        padding: 52px;
        height: calc(100vh - 62px);
        overflow: hidden;
    }

.grandparent {
    height: auto;
    /* height: calc(100vh - 181px); */
    width: 100%;
    display: table;
    text-align: -webkit-center;
}

.parent {
    vertical-align: top;
    text-align: center; /*Add this*/
    overflow-y: scroll;
    overflow: hidden;
}

.child {
    margin: 26px;
    width: 250px;
    display: inline-block; /*Add this*/
    vertical-align: middle;
}

img.Header-logo-viewer {
    width: 11rem;
}

.list-group-labels.list-group {
    padding: .2rem;
    border-radius: 0 !important;
    margin-top: 0.5rem;

}



.collezioni_pages .sidebar {
    z-index: 999;
    position: fixed;
    top: 8.5rem;
    left: 0;
    padding-top: 0rem;
    width: auto !important;
}

.collezioni_pages .sidebar-shop {
    margin-top: 0;
}

.collezioni_pages .sidebar-shop {
    max-width: 12.5rem!important;
    /* max-width: 175px !important; */
    width:12.5rem;
}
#off_book_filter .goleft {
    top: 1rem!important;
    position: absolute;
}  
#on_book_filter .toggle_filter {
    display: block;
    width: 12.5rem;
    /* width: 175px; */
    padding: 1.2rem;
    background: #5c5c5c;
    padding: 1.2rem;
    color: #fff;
    position: relative;
    height: 4.6rem;
    align-items: center !important;
    cursor: pointer;
    flex-direction: column;
}

#off_book_filter .toggle_filter {
    position: relative;
    display: block;
    width: 130px;
    color: #fff;
    height: 4.6rem;
    align-items: center !important;
    padding: 1.2rem 0.2rem;
    background: #101010;
    cursor: pointer;
    left: 0;
    padding-right: 2.8rem;
    flex-direction: column;
}

#off_book_filter .content-body {
    margin-left: 0 !important;
}
#off_book_filter .goleft {
    position: absolute;
    top: 1rem;
  }
div#off_book_filter .sidebar-left {
    display: none;
}

div#on_book_filter .sidebar-left {
    display: block;
}

div#off_book_filter .toggle_filter .goleft {
    display: none;
   right: 1rem;
}

div#on_book_filter .toggle_filter .goright {
    display: none;
    top: 1rem!important;
}

div#on_book_filter .toggle_filter .goright {
    top: 1rem;
}

div#off_book_filter .toggle_filter .goleft {
    top: 1rem;
}
div#off_book_filter .ecommerce-header.row_search_b {
    width: calc(100%);
    margin-left: 0 !important;
}

div#on_book_filter .ecommerce-header.row_search_b {
    width: calc(100% - 17rem);
    margin-left: 175px;
}

.collezioni_pages .ecommerce-header.row_search_b {  
    margin-left: calc(175px);
    width: calc(100% - 175px);
    left: 0;
}

.collezioni_pages .content-detached.content-right .content-body {
    margin-left: calc(12.5rem)!important;
    /* margin-left: calc(175px)!important; */
    /* top: -3.1rem; */
    margin-right: 60px;
}

.book_active svg {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

.collezioni_pages .ecommerce-application .sidebar-shop {
    width: auto;
}

div#coll-fullview-viewPage {
    /* margin-top: -8.3rem; */
}

.ecommerce-header.row_search.books {
    padding: 1rem;
    top: 8.7rem;
    margin-left: 0;
    width: 175px;
    z-index: 1;
   
}

.bookcard.selected_card {
    outline: 2px solid #000;
    background-color: #282828;
}

small.page_no {
    position: absolute;
    top: 35%;
    right: 11px;
    font-stretch: ultra-expanded;
}

.page {
    position: relative;
}

.newDiv {
    left: 0 !important;
}

.page_options {
    position: absolute;
    transform: translate(-38%,50%);
    bottom: 16px;
    z-index: 2;
    left: 50%;
}

    .page_options .iconthumb {
        display: block !important;
    }

    .page_options:hover .favhover {
        display: block !important;
    }

#pageopt .favhover {
    transform: translate(-50%, -50%);
    position: absolute;
    top: -29px;
    left: 50%;
    width: 172px;
    /* background: #121111; */
    height: 47px;
    display: none;
    z-index: -1;
}

#pageopt .iconthumb:hover {
    border: #1e1e1e 1px solid;
    display: block;
    background: #fff;
    color: #000;
}

div#pageopt .triangle {
    transform: rotate(180deg);
    top: 44px;
    left: 50%;
}

.bookswatch_thumb .triangle {
    left: 0;
}
/*other fav*/
.swatch_options {
    position: absolute;
    transform: translate(0%,50%);
    left: 5%;
    top:24%;
    z-index: 99999;
    display: none;
    overflow: visible;
}

.swatch_options .iconthumb {
        display: block !important;
        top: 0;
 }


.newDiv > div:hover .swatch_options {
    display: block;
}

.swatch_options:hover .favhover {
    display: block !important;
    transform: translate(0%,50%);
    left: 10% !important;
    top: 35% !important;
    z-index: 1;
    cursor: pointer;
    color: #010101;
}

[dir] .swiper-wrapper .swatch_options:hover .favhover.card {
    z-index: 9;
    display: block !important;
    color: #010101;
}

[dir] .swiper-wrapper .swatch_options {
    top: 50%;
    left: 50% !important;
    transform: translate(-50%,50%);
}

.swiper-slide .triangle {
    right: 40%;
}

[dir] .book_thumb .btn:first-child {
    border-top-left-radius: 0px;
}

/* [dir] .book_thumb .btn:last-child {
    border-bottom-left-radius: 0px;
} */

.customizer_menu button:first-child {
    border-top-left-radius: 0px;
}

/* new for layoutin manisha */
.app-content.seasons {
    background: #242424;
}

.card .seasontopimg {
    width: 100%;
}

a.seasontopimg {
    height: 180px;
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    background-color: #efefef;
    background-position: center center;
}

[dir=ltr] .swiper-pagination {
    display: none !important;
}

.sidebar .scrollbar-container {
    max-height: calc(100vh - 9rem);
    height: auto !important;
}

.collezioni_pages .mysearch_head {
    background: #efefef !important; 
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    background: #fff;
}

h6.item-name {
    font-size: .875rem;
    font-weight: 500;
    width: 80%;
}

.swiper-slide-thumb-active {
    border: 3px solid #fff !important;
    outline: 1px solid #000;
}
/*Tanmay */

.right_triangle {
    width: 0;
    height: 0;
    clip-path: polygon(0 0,0% 100%,100% 100%);
    position: absolute;
}

.collezioni_pages .shop-sidebar-toggler {
    position: absolute;
    top: 500px;
    left: 500px;
    transform: translate(50%,50%);
}

.LTBar {
    display: grid;
}

.LCBar {
    display: grid;
}

.LCBar {
    display: grid;
}

.RTBar {
    display: grid;
}

.RCBar {
    display: grid;
}

.RBBar {
    display: grid;
}

.BLBar {
    display: grid;
}

.BRBar {
    display: grid;
}

.TLBar {
    display: grid;
}

.TRBar {
    display: grid;
}

.TCBar {
    display: grid;
}

.roundrect {
    border-radius: 25px;
    position: absolute;
}

[dir] .card .card-title {
    /* color: black; */
    /* font-size: 0.80rem; */
}
.bookcard .card-title{
    font-size: 1rem !important;
    margin-bottom: .5rem;
    color: #fff!important;
}

[dir=ltr] .page.--left {
    box-shadow: none !important;
    overflow: visible;
    z-index: 1;
}
/* 
    [dir=ltr] .page.--left:hover {
        z-index: 2!important;
    } */

[dir=ltr] .page.--right {
    box-shadow: none !important;
    overflow: visible;
    z-index: 1;
}

    /* [dir=ltr] .page.--right:hover {
        z-index: 2!important;
    } */
    /* very very important for zoom window to come above */
[dir=ltr] .page.--left:hover + .page.--right{    
    z-index: -1!important;
}


.loder {
    position: fixed;
    transform: translate(-50%,-50%);
    top: 50%;
    height: auto;
    width: auto;
    left: 50%;
    z-index: 999999;
}

[dir=ltr].card:not(:disabled):not(.disabled).active {
    /* background-color: #746cdf; */
    border-color: #e01010;
}

/* .LTBar label{
        color:#000000;
        font-weight:600;
        margin-top:0.2rem;
        font-size:0.6rem;
 } */
/* theme bordered */
.bordered-layout .card .card-title {
    color: black;
}
.bordered-layout .book_thumb {  
    background: #efefef;   
    border-left: 1px solid #ccc;
}

.bordered-layout .customizer_menu {  
    background: #efefef; 
    border-top: 1px solid #ccc;   
/* theme bordered ends */
}
/*26-09*/
ul#book_catlog {  
    overflow: auto;    
    list-style: none;
    display: flex;
    justify-content: center;  
    min-height: 4rem;
}

[dir] .dark-layout .swiper-wrapper {
    flex-direction: inherit !important; 
}

[dir] .dark-layout .customizer_menu button:hover {
     color: #fff; 
}

[dir] .dark-layout .search-product::placeholder {
    color: #FFf; 
}

[dir] .dark-layout .input-group-text .text-muted {
    color: #fff !important;
}

[dir] .dark-layout .btn-light:hover {
    background: #6d6d6d;
    border-color: #dddddd;
}

[dir] .dark-layout #exampleTexta::placeholder {
    color: #FFf; 
}
.swiper-button-disabled {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
}
/* #large_grid.grid-view {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
  }
 #medium-grid.grid-view {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
  }*/
  
.swiper-slide.grid-view {
    grid-template-columns: 1fr ;
}
.swiper.card {
    border: none !important;
}

/* temporary manisha*/

#coll_main_page .content-area-wrapper{
    min-height: calc(100vh - 9rem);
}
.cardlayer {
    margin-bottom: .5rem !important;
  }
  .bookswatch_thumb:hover .count_box{
    display: block;
  }
  .bookswatch_thumb .count_box{
    display: block;
    right: -138px;
  }
  .child h4.card-title {
    font-size: .9rem;
}
.input-group-merge.cardbookSearchbar {
    top: -3.5rem;
    z-index: 99;
    position: absolute;
    right: 7rem;
}
/* .ecommerce-application.myseasons .input-group-merge.cardbookSearchbar {
    top: -3.5rem;
    z-index: 9;
    right: 7rem;    
} */
@media (min-width: 992px) {
    div #on_book_filter .ecommerce-header.row_search_b {
        left: 0;
        margin-left: 175px;
    }
}
/*media query starts*/
@media (max-width: 991.98px) {
    .collhead {
        padding-left: 0;
        font-size: 12px;
        margin-left: 0 !important;
    }

    svg.book-icon {
        top: 0;
        position: absolute;
        left: 16px;
        top: 12px;
    }

    .stickicons {
        justify-content: left !important;
    }

    .email-application .content-area-wrapper .content-right {
        width: 100% !important;
    }

    .ecommerce-application.myseasons .grid-view {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}


@media screen and (min-width: 1400px) {
    .ecommerce-application.myseasons .grid-view {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}



@media only screen and (min-width: 900px) {
    .pinkbg .grid-view {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .Header-logo-viewer {
        width: 150px;
        height: auto;
    }

    .pinkbg .grid-view {
        grid-template-columns: 1fr !important;
        padding: 10px;
    }

    h3.title_b {
        color: #E63374;
        background: #fff;
        display: block;
        padding: 6px 6px;
        width: auto;
        font-size: 1.5rem;
        margin: 0 10px;
        width: 250px;
    }

    h3.title_a {
        color: #101010;
        font-size: 1.5rem;
    }

    .pinkbg {
        margin: 0px;
        padding: 20px;
        background-color: #e4239a;
        height: 100vh;
    }

    .child {
        width: 250px;
    }

    .inner_div {
        overflow-y: scroll;
        height: calc(100vh - 250px);
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .title_box {
        top: 148px;
    }

    .pinkbg .grid-view {
        grid-template-columns: 1fr 1fr;
    }

    .pinkbg {
        margin: 0px;
        background-color: #e4239a;
        height: 100vh;
    }

    .child {
        height: 300px;
        width: 250px;
    }

    .inner_div {
        overflow-y: scroll;
        height: calc(100vh - 350px);
    }
}

@media (max-width: 575.98px) {
    .collezioni_pages .content-body {
        margin-left: 0rem !important;
    }

    #off_book_filter .content-body {
        margin-left: 0rem !important;
    }
}
