// .LC {
//     position: absolute;
//     top: 50%;
//     left: -50px
// }

// .TC {
//     position: absolute;
//     top: -20px;
//     left: 50%;
// }

// .LCBar {
//     position: absolute;
//     top: calc(50% - 25px);
//     left: -70px;
// }

// .TCBar {
//     position: absolute;
//     top: -45px;
//     left: calc(50% - 35px);
// }
.flip-book {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    display: none;
    background-size: 100% 100%;
}

.LBQR {
    position: absolute;
    left: 25px;
    bottom: 25px;
}

.RBQR {
    position: absolute;
    right: 25px;
    bottom: 25px;
}

// .leftpage {
//     height: 100%;
//     position: fixed;
//     right: 0;
//     width: 60px;
//     /* background-image: url(../../Images/book-images/page_left_background.png); */
//     background-image: url(https://tds.designarchive.in/collezioni/Images/book-images/page_left_background.png);
//     opacity: 0.6;
// }

// .rightpage {
//     height: 100%;
//     position: fixed;
//     left: 0;
//     width: 40px;
//     /* background-image: url(../../Images/book-images/page_left_background.png); */
//     background-image: url(https://tds.designarchive.in/collezioni/Images/book-images/page_right_background.png);
//     /*opacity: 0.5;*/
// }


.rect {
    /*border:1px solid red;*/
    position: absolute;
}

.page.page-cover.stf__item.--simple.--hard.--right {
    transform: translateX(-50%);
    //transition-duration: 1s;
}

.swiper-container:fullscreen {
    background-image: linear-gradient(to bottom, black, white);
    /*margin-top: 56%;*/
    position: absolute;

    .swiper-wrapper {
        top: 5%;
    }

    .page {
        zoom: 1.2 !important;
    }
}

.content-area-wrapper.border-0:fullscreen {
    /* transform: translate(-50%, -100%);*/
    background-image: linear-gradient(to bottom, black, white);

    .book-container {
        height: auto;
        zoom: 1.3;
    }
    // .stf__block {
    //     //height: auto !important;
    //     zoom: 1.5;
    // }

    .customizer_menu {
        display: none;
    }
}

// .page.stf__item.--soft.--simple.--left {
//     z-index: 9999999 !important;
// }
// .page.stf__item.--soft.--simple.--right{
//      z-index: 9999999 !important;
// }

.page.page-cover.stf__item.--simple.--hard.--left {
    transform: translateX(50%);
    // z-index: 2 !important;
    //transition-duration: 1s;
}
// .page.--left:hover {
//     z-index: 3 !important;
// } 
.book-container, .demo-book {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.demoPage1 {
    border: 1px solid black;
}

.designlabel {
    position: absolute;
}
#pdfbody .page-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    background-size: 100% 100%;
    // margin-left: -10px;
    // margin-top: -15px;
}
.page {
    // background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 100%);
    border: solid 1px grey;
    // overflow: hidden;

    .page-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        background-size: 100% 100%;

        .page-header {
            height: 30px;
            font-size: 100%;
            text-transform: uppercase;
            text-align: center;
        }

        .page-image {
            height: 100%;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
        }

        .page-text {
            height: 100%;
            flex-grow: 1;
            font-size: 80%;
            text-align: justify;
            /* margin-top: 10px;
            padding-top: 10px;*/
            box-sizing: border-box;
            border-top: solid 1px hsl(35, 55, 90);
        }

        .page-footer {
            /*height: 30px;*/
            /* border-top: solid 1px hsl(35, 55, 90);*/
            font-size: 80%;
            color: hsl(35, 20, 50);
            position: absolute;
            bottom: 0;
        }
    }

    &.--left { // for left page (property will be added automatically)
        border-right: 0;
        box-shadow: inset -7px 0 30px -7px rgba(0, 0, 0, 0.4);

        .page-footer {
            left: 0;
        }
    }

    &.--right { // for right page (property will be added automatically)
        border-left: 0;
        box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, 0.4);

        .page-footer {
            text-align: right;
            right: 0;
        }
    }

    &.hard { // for hard page
        /*        background-color: hsl(35, 50, 90);*/
        border: solid 1px hsl(35, 20, 50);
    }

    &.page-cover {
        /*     background-color: hsl(35, 45, 80);*/
        color: hsl(35, 35, 35);
        border: solid 1px hsl(35, 20, 50);

        h2 {
            text-align: center;
            padding-top: 50%;
            font-size: 210%;
        }

        &.page-cover-top {
            box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), -2px 0 5px 2px rgba(0, 0, 0, 0.4);
        }

        &.page-cover-bottom {
            box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), 10px 0 8px 0px rgba(0, 0, 0, 0.4);
        }
    }
}