@media only screen and (min-device-width: 1080px) and (max-device-width: 1920px) and (orientation: portrait) {

    html { font-size: 100% !important ; } /* 1rem =10px */ 
    
    .auth-wrapper.auth-v1 .auth-inner {
        max-width: 550px !important;
    }
    
    .nav-link{
        margin-bottom: 0rem !important; 
    }
    
    [dir] .nav-link {
        padding: 0.358rem 0.5rem 0.358rem 1.5rem !important;
    }
    
    #Category .child{
        width: 400px !important;
        margin: 40px 40px !important;
    }
    
    #Category .title_box h3{
        margin-top: 4.5rem;
    }
    
    #book_catlog {
        top: 6.7rem !important;
        box-sizing: border-box;
    }

    #book_catlog li button{
        width: max-content;
    }
    
    #book_catlog .nav-item {
        margin-top: 0.7rem;
    }
    
    /* #book_list{
        padding-top: 2.8rem !important;
    } */
    
    .media-left {
        min-height: 190px !important;
        width: 345px !important;
    }
    
    .toggle_search_panel{
        top:23px !important;
        right: 198px !important;
    }
    .ecommerce-application .grid-view {
        grid-template-columns: 1fr 1fr 1fr!important;
    }
    #coll_main_page .sidebar-shop{
        /* min-width: 62.72rem !important; */
        min-width: 1080px !important; 
        position: absolute;
        bottom: 8.88rem;
        padding-right: 1.8rem;
        padding-left: 2.2rem;
        height: auto !important;
        padding-top: 2.5rem;
        box-shadow: 0px 0px 3px 2px #101010!important;
    }
    
    #coll_main_page .book_thumb .btn {
        border-radius: 0rem;
    }
    
    .text-white.border-0.cardlayer.card{
        min-width: 9.714rem;
    }
    
    [dir] .list-group-labels.list-group {
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        /* width: 1080px; */
        overflow: auto;
    }
    
    .text-white.border-0.cardlayer.card{
        margin-right: 2rem;
    }
    
    .scroll-to-top div {
        z-index: 99 !important;
    }
    
    div#off_book_filter .toggle_filter .goleft {
        display: none;
    }
    
    .content-body.position-relative {
        margin: 0 !important;
    }
    
    [dir=ltr] #on_book_filter .content-detached.content-right .content-body {
        margin-left: 0 !important;
    }
    
    [dir] #on_book_filter .toggle_filter {
        display: none !important;
    }
    
    [dir] #on_book_filter .ecommerce-application.myseasons .grid-view {
        padding: 1.5rem 5.4rem 16.5rem 1.5rem !important;
    }
    
    ::-webkit-scrollbar {
        width: 0px !important;
    }
    
    #on_book_filter.dark-layout .sidebar-shop{
    background-color: #535353 !important;
    }
    
    #book_list .child{
        width: 400px !important;
        margin: 40px 40px !important;
    }
    
    #book_list a.seasontopimg {
        height: 250px !important;
    }
    
    .customizer_menu button {
        margin-top: 0.4rem !important;
    }
    
    .customizer_menu {
        top: 30% !important;
        padding-top: 0rem !important;
    }
    
    .outer_container {
        position: fixed !important;
        top:45% !important;
    }

     [dir=ltr] .book-container, [dir=ltr] .demo-book {
        max-width: 800px;
        position: fixed;
        transform: translate(-52%, -57%) !important;
    } 
    
    [dir=ltr] .ecommerce-application .swiper-button-prev {
        left: 5% !important;
        top: 42.5% !important;
        position: fixed;
        transform: translate(-50%, -50%) !important;
    }
/* 
    .input-group-merge.input-group::placeholder { 
        color: red;
      } */
    
    [dir=ltr] .ecommerce-application .swiper-button-next {
        right: 8% !important;
        top: 42.5% !important;
        position: fixed;
        transform: translate(-50%, -50%) !important;
    }
    
    [dir] .ecommerce-application .swiper-button-next:after {
        background-size: 150px!important;
    }
    
    .ecommerce-application .swiper-button-next:after {
        width: 100px !important;
        height: 100px !important;
    }
    
    [dir] .ecommerce-application .swiper-button-prev:after {
        background-size: 150px !important;
    }
    
    .ecommerce-application .swiper-button-prev:after {
        width: 100px !important;
        height: 100px !important;
    }
    
    .media-left img{
        width: 60% !important;
        height: 120% !important;
    }

    #on_book_filter .content-detached.content-right .content-body {
        margin-left: 0px !important;        
      
    }

    
    }